<?xml version="1.0"?>
<launch>

  <arg name="controllers" default="joint_state_controller joint_position_controller"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find protoarm_control)/config/ros_controllers.yaml" command="load"/>

  <!-- Load/Start the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="$(arg controllers)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
