<launch>
  <arg name="image_topic" default="/camera/color/image_raw" />

  <group ns="visual_servoing">
    <param name="image_topic" type="str" value="$(arg image_topic)" />
    <node name="visual_servoing_node" pkg="protoarm_visual_servoing" type="vs_node" output="screen" respawn="true"/>
  </group>

</launch>
