<launch>
 <!-- <args for urdf/> -->
    <arg name="camera_model"          default="BW1098OAK"   /> <!-- 'zed' or 'zedm' -->
    <arg name="camera_name"           default="oak"         />
    <arg name="base_frame"            default="oak-d_frame" />
    <arg name="cam_pos_x"             default="0.0"        /> <!-- Position respect to base frame (i.e. "base_link) -->
    <arg name="cam_pos_y"             default="0.0"        /> <!-- Position respect to base frame (i.e. "base_link) -->
    <arg name="cam_pos_z"             default="0.0"        /> <!-- Position respect to base frame (i.e. "base_link) -->
    <arg name="cam_roll"              default="1.5708"     /> <!-- Orientation respect to base frame (i.e. "base_link) -->
    <arg name="cam_pitch"             default="0.0"        /> <!-- Orientation respect to base frame (i.e. "base_link) -->
    <arg name="cam_yaw"               default="1.5708"     /> <!-- Orientation respect to base frame (i.e. "base_link) -->

    <arg name="camera_param_uri"      default="package://depthai_examples/params/camera" />

    <include file="$(find depthai_bridge)/launch/urdf.launch">
        <arg name="camera_model"    value="$(arg  camera_model)" />
        <arg name="camera_name"     value="$(arg  camera_name)"  />
        <arg name="base_frame"      value="$(arg  base_frame)"   />
        <arg name="cam_pos_x"       value="$(arg  cam_pos_x)"    />
        <arg name="cam_pos_y"       value="$(arg  cam_pos_y)"    />
        <arg name="cam_pos_z"       value="$(arg  cam_pos_z)"    />
        <arg name="cam_roll"        value="$(arg  cam_roll)"     />
        <arg name="cam_pitch"       value="$(arg  cam_pitch)"    />
        <arg name="cam_yaw"         value="$(arg  cam_yaw)"      />
    </include>


    <node name="rgb_publisher" pkg="depthai_examples" type="rgb_node" output="screen" required="true">
        <param name="camera_name"      value="$(arg camera_name)"/>
        <param name="camera_param_uri" value="$(arg camera_param_uri)"/>
    </node>            
    
    <!-- <node name="rgb_subscriber" pkg="depthai_examples" type="rgb_subscriber_node" output="screen" required="true">
        <remap from="rgb_image" to="/rgb_publisher/color/image"/>
    </node>             -->
    


  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltags" />
  <arg name="cam_name" default="/rgb_publisher/color" />
  <arg name="image_topic" default="image" />

  <!-- Set parameters -->
  <rosparam command="load" file="$(find protoarm_bringup)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find protoarm_bringup)/config/tags.yaml" ns="$(arg node_namespace)" />
  
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg cam_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg cam_name)/camera_info" />

    <param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
  </node>
</launch>