<?xml version="1.0"?>
<launch>
  <arg name="realsense" default="true"/>

  <arg name="verbose" default="false"/>

  <arg name="urdf_path" default="$(find protoarm_description)/urdf/protoarm.xacro"/>
  <arg name="srdf_path" default="$(find protoarm_description)/urdf/protoarm.srdf"/>
  
  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="gazebo_spawn_coords" default="-x 0 -y 0 -z 0"/>

  <!-- MoveIt -->
  <include file="$(find protoarm_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="pipeline" value="ompl"/>
    <arg name="debug" value="false"/>
    <arg name="load_robot_description" value="false"/>
  </include>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- The robot description that corresponds to the URDF -->
  <param name="robot_description" command="xacro '$(arg urdf_path)'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" textfile="$(arg srdf_path)" />

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find protoarm_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find protoarm_moveit_config)/launch/moveit.rviz"/>
    <arg name="debug" value="false"/>
  </include> 

  <!-- rosserial 
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
    <param name="port" value="<replace>" />
    <param name="baud" value="57600" />
  </node>
-->
</launch>
