<?xml version="1.0"?>
<launch>
  <!-- Default params -->
  <arg name="chess" default="false"/>
  <arg name="realsense" default="false"/>

  <arg name="verbose" default="false"/>
  <arg name="urdf_path" default="$(find protoarm_description)/urdf/protoarm.xacro" unless="$(arg realsense)"/>
  <arg name="srdf_path" default="$(find protoarm_description)/urdf/protoarm.srdf" unless="$(arg realsense)"/>
  <arg name="world_name" default="worlds/empty.world" unless="$(arg chess)"/>
  <arg name="gazebo_spawn_coords" default="-x 0 -y 0 -z 0" unless="$(arg chess)"/>

  <!-- Runs robot arm with realsense -->
  <arg name="urdf_path" default="$(find protoarm_description)/urdf/protoarm_realsense.xacro" if="$(arg realsense)"/>
  <arg name="srdf_path" default="$(find protoarm_description)/urdf/protoarm_realsense.srdf" if="$(arg realsense)"/>

  <!-- Runs chess gazebo world -->
  <arg name="world_name" value="$(find chessboard_gazebo)/worlds/visual_servoing.world" if="$(arg chess)"/>
  <arg name="gazebo_spawn_coords" value="-x 0.35 -y 0 -z 0" if="$(arg chess)"/>

  <!-- Gazebo -->
  <include file="$(find protoarm_moveit_config)/launch/gazebo.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="gazebo_spawn_coords" value="$(arg gazebo_spawn_coords)"/>
  </include>

  <!-- MoveIt -->
  <include file="$(find protoarm_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="pipeline" value="ompl"/>
    <arg name="debug" value="false"/>
    <arg name="load_robot_description" value="false"/>
  </include>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find protoarm_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find protoarm_moveit_config)/launch/moveit.rviz"/>
    <arg name="debug" value="false"/>
  </include> 

  <!-- The robot description that corresponds to the URDF -->
  <param name="robot_description" command="xacro '$(arg urdf_path)'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" textfile="$(arg srdf_path)" />

</launch>
