<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mvp_arm_4dof_moveit_config)/config/ros_controllers.yaml" command="load"/>
  <rosparam file="$(find mvp_arm_4dof_moveit_config)/config/controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="gripper_controller arm_controller joint_state_publisher"/>

</launch>
