<?xml version="1.0"?>
<launch>
  <arg name="overhead" default="false" />
  <arg name="rviz" default="false" />
  <arg name="display_overhead" default="false" />
  <arg name="ik" default="false" />

  <arg name="sim" default="false" />
  <arg name="show_obstacles" default="true"/>

  <group name="real" unless="$(arg sim)">
    <include if="$(arg overhead)" file="$(find arm_launch)/launch/overhead.launch" >
        <arg name="display" value="$(arg display_overhead)"/>
    </include>
    <include file="$(find arm_control)/launch/controller.launch" />
  </group>

  <group name="sim" if="$(arg sim)">
      <rosparam param="/sim">1</rosparam>
  </group>


  <node name="ik_publisher" pkg="arm_control" type="ik_publisher_node.py" args="$(arg show_obstacles)" output="screen"/>
  <include if="$(arg ik)" file="$(find relaxed_ik_ros1)/launch/relaxed_ik_rust.launch"/>

</launch>
