<launch>

  <arg name="paused" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="urdf_path" default="$(find protoarm_description)/urdf/protoarm.xacro"/>
  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="gazebo_spawn_coords" default="-x 0 -y 0 -z 0"/>

  <param command="$(find xacro)/xacro $(find protoarm_description)/urdf/protoarm.xacro" name="robot_description"/>

  <node args="-param robot_description -urdf -model protoarm $(arg gazebo_spawn_coords)" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
