<launch>
  <include file="$(find mvp_arm_4dof_moveit_config)/launch/demo.launch"/>
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="57600" />
  </node>
  <node pkg="arc_robot_arm" type="server_ik.py" name="server_ik" respawn="true"/>
</launch>
