<launch>
  <node pkg="cv_camera" type="cv_camera_node" name="cv_camera_node"/>
  <node name="image_proc" pkg="image_proc" type="image_proc" ns="cv_camera_node" respawn="true" />
  <node pkg="tf" type="static_transform_publisher" name="cv_camera_tf" args="-0.087 0.02 0.06 0 0 0 1 link_3_v1_1 camera 100" />
</launch>
