<launch>
	<arg name="real" default="0"/>
	<arg name="robot" default="1"/>
	<arg name="camera" default="1"/>
  <include file="$(find mvp_arm_4dof_moveit_config)/launch/demo.launch"/>
	<group if="$(arg real)">
		<group if="$(arg robot)">
			<node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
				<param name="port" value="/dev/ttyACM0" />
				<param name="baud" value="57600" />
			</node>
			<node pkg="arc_robot_arm" type="server_ik.py" name="server_ik" respawn="true"/>
		</group>
		<group if="$(arg camera)">
			<include file="$(find arc_robot_arm)/launch/camera.launch"/>
		</group>
		<node pkg="arc_robot_arm" type="sensors_tf_broadcaster" name="sensors_tf_broadcaster"/>
	</group>

</launch>
