numpy==1.19.4
opencv-python==4.5.1.48
Pillow==8.0.1
pynput==1.7.2
pyobjc-core==7.1
pyobjc-framework-Cocoa==7.1
pyobjc-framework-Quartz==7.1
six==1.15.0
torch==1.7.1
torchvision==0.8.2
typing-extensions==3.7.4.3
